@font-face {
    font-family: 'Poppins-Extra';
    font-weight: 800;
    font-display: swap;
    src: url(/static/customDesigns/everial/Poppins-ExtraBold.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#carte {
    background-color: #F2F3F4;
}

#header {
    color: #F2F3F4;
    background-color: #052541;
    font-family: 'Poppins-Extra';
    padding-left: 0.7em;
}

#date p {
    font-size: 1.7em;
}

#body {
    color: #052541;
    background-color: #F2F3F4;
    font-family: 'Poppins-Extra';
}

#contenu {
    margin: 3% 0;
}

#footer {
    color: black;
    background-color: #F2F3F4;
}

#TopText p {
    color: rgba(0, 0, 0, 0.4);
}