#carte {
    /* background-image: url("https://media.istockphoto.com/vectors/cat-seamless-pattern-kitten-vector-scarf-isolated-background-repeat-vector-id959462762"); */
    background-image: url("./stockBackground.jpg");
    background-repeat: repeat;
    background-size: 30%;
}

#header {
    color: rgb(26, 26, 26);
    background-color: #f3f3f3;
}

#body {
    color: rgb(10, 84, 125);
    font-weight: bolder;
    background-color: transparent;
}

#footer {
    box-shadow: 0 -1px 3px 0 lightgrey;
    color: black;
    background-color: white;
}

#TopText p {
    color: rgba(0, 0, 0, 0.4);
}