#carte {
    /*
        This the card itself
        Default is :
            background-color: white;
    */
}

#header {
    /*
        This the banner/header of the card
        Default is :
                color: black;
                background-color: white;
    */
}

#body {
    /*
        This the middle of the card
        Default is :
                color: black;
                background-color: white;
    */
}

#footer {

    /*
        This the footer
        Default is :
                color: black;
                background-color: white;
    */
}

#TopText p {
    /*
        This the text that is printed on top of the card
        Default is :
            color: rgba(0, 0, 0, 0.5);
    */
}